{% extends "layout.html" %}
  {% block title %}Welcome Tic Tac Toe Game{% endblock %}

  {% block body %}
    <br><br><br>

    <div class="container">
      <h1>Welcome Tic Tac Toe Game</h1>
      <br>
      <form action="{% url 'game' 9 %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="Player_one" class="form-label">Player one </label>
          <input required type="text" class="form-control" name = "Player_one"id="Player_one" >
        </div>
        <div class="mb-3">
          <label for="Player_two" class="form-label">Player Two</label>
          <input required type="text" class="form-control" name = "Player_two"id="Player_two">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

  {% endblock %}
